<div class="flex w-full p-1">
    <div class="md:w-10/12">
         <input class="bg-gray-100 appearance-none border-2 border-gray-100 rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" name="proyecto[instituciones_attributes][<%= @idx %>][nominstitucion]" id="proyecto_instituciones_attributes_<%= @idx %>_nominstitucion">
    </div>
    <div class="md:w-2/12 mx-1.5 flex justify-center">
          X
    </div>
</div>        