<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-sm text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-1 text-center">
                    Num. de Registro
                </th>
                <th scope="col" class="p-1 " style="text-align: center; width:45%;">
                    Nombre del Proyecto
                </th>
                <th scope="col" class="p-1" style="text-align: center;">
                     Fecha de Captura
                </th>
                <th scope="col" class="p-1" style="text-align: center;">
                     Fecha de Envío
                </th>
                <th scope="col" class="p-1" style="text-align: center;" style="width:10%;">
                    Estado
                </th>
               
                <th scope="col" class="p-1" style="text-align: center;" style="width:10%;">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                                <% @proyectos.each do |py| %>
                                     <% if py.etapas.last.tevento.clave != 'DEL' %>
                                              <%  if py.modificatorio.nil? %>
                                                      <%= render 'rw_cp', py:py %>

                                                      <%
                                                          sig = true
                                                          tmp_py = py
                                                          item_count = 0
                                                          while sig do
                                                             if !Proyecto.where(raiz:tmp_py.id).last.nil?           
                                                                  p_item = Proyecto.find(Proyecto.where(raiz:tmp_py.id).last.id)
                                                                  tmp_py = p_item
                                                                  item_count = item_count + 1
                                                      %>
                                                                  <%= render 'rw_cp_mod', py:p_item, noitem:item_count %>        
                                                      <%     else
                                                                  sig = false   
                                                             end
                                                          end
                                                      %>
                                              <% end %> 
                                              
                                      <% end %>      
                                <% end %>   
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>
