<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-sm text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-1" style="text-align: center;">
                    Nombre del Proyecto
                </th>
                <th scope="col" class="p-1" style="text-align: center;">
                     Fecha de Registro
                </th>

                <th scope="col" class="p-1" style="text-align: center;">
                    Estado
                </th>
               
                <th scope="col" class="p-1" style="text-align: center;">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                                <% @proyectos.each do |py| %>
                                     <% if py.etapas.last.tevento.clave != 'DEL' %>
                                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                                <th scope="row" class=" font-medium text-gray-900 dark:text-white p-2">
                                                    <%= py.nombre %>
                                                    <% if py.enlaces.where(estado:'A').includes(:enevento).where('eneventos.clave':'CORR').any? %>
                                                          <div class="text-red-700 italic ml-2">
                                                              <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg> 
                                                              Se requiere que atienda las observaciones. Haga clic en la opción Ver.
                                                          </div>
                                                    <% end %>
                                                </th>
                                                <td class=" font-semibold p-2">
                                                    <div class="flex justify-center"><%= py.created_at.strftime("%d-%m-%Y")  %></div>
                                                </td>
                                                <td class="p-2">
                                                    <div class="flex"> <%= render 'vistas/util/pyestado', proyecto:py %></div>
                                                </td>
                                                
                                                <td class="p-2">
                                                    <div class="flex-row">
                                                        <%= render "proyectos/menus/index_opt_captura", py:py %>
                                                    </div>    
                                                </td>
                                            </tr>
                                      <% end %>      
                                <% end %>   
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>