<style>
th {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
</style>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5" style="height: 80vh;">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-1 text-center">
                    Num. de Registro
                </th> 
                <th scope="col" class="px-6 py-3 text-center" style="width:50%;">
                    Nombre del Proyecto
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Fecha de Registro
                </th>

                <th scope="col" class="px-6 py-3 text-center">
                    Responsable
                </th>

                <th scope="col" class="px-6 py-3 text-center" style="width:10%;">
                    Estado
                </th>
               
                <th scope="col" class="px-6 py-3 text-center">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                    <%  @proyectos.each do |py| 
                        @resp = py.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio
                        #if py.enlaces.last.enevento.clave == "EVAL" || py.enlaces.last.enevento.clave == "DICT"
                    %>
                              <% if py.modificatorio == 'SI' 
                                    p_origen = Proyecto.find(py.raiz)
                              %>
                                         <%= render 'rw_eval_line_out', py:p_origen %>
                                         <%= render 'rw_eval_mod', py:py %>
                              <% else %>     
                                         <% 
                                             p_out = Proyecto.where(raiz:py.id)
                                             if p_out.blank?
                                         %>
                                                  <%= render 'rw_eval', py:py %>
                                            <% end %>    
                              <% end %>    

                        <% #end %>    
                     <% end %>   
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>