<style>
th {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
</style>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5" style="height: 80vh;">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-sm text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                 <th scope="col" class="p-1 text-center">
                    Num. de Registro
                </th>

                <th scope="col" class="p-1 text-center" style="width:50%;">
                    Nombre del Proyecto
                </th>

                <th scope="col" class="p-1 text-center">
                    Responsable
                </th>

                <th scope="col" class="p-1 text-center" style="width:10%;">
                    Estado
                </th>
               
                <th scope="col" class="p-1 text-center">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                  <%  @proyectos.each do |py| 
                      @resp = py.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio
                  %>
                        <% if !Proyecto.where(raiz:py.id).last.nil?
                               py_mod = Proyecto.find(Proyecto.where(raiz:py.id).last.id)
                        %>
                               <%= render 'rw_dir_line_out', py:py %> 
                               <%= render 'rw_dir_mod', py:py_mod %>
                        <% else %>
                               <%= render 'rw_dir', py:py %>
                        <% end %>   
                  <% end %>       
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>
