<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-sm text-gray-700 bg-gray-200 dark:bg-gray-800 dark:text-gray-400">
            <tr>
                 <th scope="col" class="p-1 text-center">
                    Num. de Registro
                </th>

                <th scope="col" class="p-1 text-center" style="width:50%;">
                    Nombre del Proyecto
                </th>
                <th scope="col" class="p-1 text-center">
                    Fecha Recepción
                </th>

                <th scope="col" class="p-1 text-center">
                    Responsable
                </th>

                <th scope="col" class="p-1 text-center" style="width:10%;">
                    Estado
                </th>
               
                <th scope="col" class="p-1 text-center">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
             <% if @proyectos.any? %>
                    <%  @proyectos.each do |py| 
                        @resp = py.participante.pacademicos.where(responsable:true).first.academico.persona.nom_espacio
                        item = Item.where(proyecto_id:py.id).first
                        if item.blank?
                           if py.modificatorio.nil?
                    %>

                                <% if !Proyecto.where(raiz:py.id).last.nil?
                                          py_mod = Proyecto.find(Proyecto.where(raiz:py.id).last.id)
                                %>
                                         <%= render 'rw_enlace_line_out', py:py %> 
                                         <%= render 'rw_enlace_mod', py:py_mod %>
                                <% else %>
                                         <%= render 'rw_enlace', py:py %>
                                <% end %>

                           <% end %>   
                       <% end %>       
                     <% end %>   
             <% else %>           
                     <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"><td colspan='3' scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">No hay proyectos registrados</td>
            <% end %>            
        </tbody>
    </table>
</div>

<script>
     

   document.addEventListener('DOMContentLoaded', (event) => {
        /*function handleDragStart(e) {
          this.style.opacity = '0.4';
          dragSrcEl = this;
          e.dataTransfer.effectAllowed = 'move';
          e.dataTransfer.setData('text/html', this.innerHTML);
        }*/

        function handleDragEnd(e) {
          this.style.opacity = '1';

          items.forEach(function (item) {
            item.classList.remove('over');
          });
        }

        function handleDragOver(e) {
          if (e.preventDefault) {
            e.preventDefault();
          }

          return false;
        }

        function handleDragEnter(e) {
          this.classList.add('over');
        }
        
        function handleDragLeave(e) {
          this.classList.remove('over');
        }
        /*
        function handleDrop(e) {
          e.stopPropagation();
          if (dragSrcEl !== this) {
            dragSrcEl.innerHTML = this.innerHTML;
            console.log(dragSrcEl.id)
            this.innerHTML = e.dataTransfer.getData('text/html');
          }
          return false;
        }
        */

        let items = document.querySelectorAll('.box');
        items.forEach(function(item) {
          //item.addEventListener('dragstart', handleDragStart);
          item.addEventListener('dragover', handleDragOver);
          item.addEventListener('dragenter', handleDragEnter);
          item.addEventListener('dragleave', handleDragLeave);
          item.addEventListener('dragend', handleDragEnd);
          //item.addEventListener('drop', handleDrop);
        });
   });

</script>