<div class='w-full'>
                    <div class="md:flex md:items-center mb-1 w-full">
                                   <div class="font-semibold">
                                        Nombre de la Convocatoria:
                                   </div>
                                   <div class="">
                                        <div class="ml-2"> 
                                             <%= @proyecto.mconvocatoria.nomconvocatoria %>
                                        </div>     
                                   </div>
                    </div>
                    <div class="md:flex md:items-center mb-1 w-full">
                                   <div class="font-semibold">
                                        Enlace de la convocatoria:
                                   </div>
                                   <div class="">
                                        <% if !@proyecto.mconvocatoria.link.nil? %>
                                             <div class="ml-2 text-blue-800"> 
                                                  <%= link_to @proyecto.mconvocatoria.link, @proyecto.mconvocatoria.link, target:'_blank' %> 
                                             </div>     
                                        <% end %>
                                   </div>
                    </div>
</div>
