<div class='w-full'>


     <div class="md:flex md:items-center mb-3">
                    <div class="md:w-2/5">
                         Nombre de la Convocatoria:
                    </div>
                    <div class="md:w-4/5">
                         <%= @proyecto.mconvocatoria.nomconvocatoria %>
                    </div>
     </div>

     <div class="md:flex md:items-center mb-3">
                    <div class="md:w-2/5">
                          Enlace de la convocatoria:
                    </div>
                    <div class="md:w-4/5">
                         <%= @proyecto.mconvocatoria.link %>
                    </div>
     </div>


</div>