<div class='w-full'>
                    <div class="md:flex md:items-center mb-3 w-full">
                                   <div class="font-semibold">
                                        Nombre de la Convocatoria:
                                   </div>
                                   <div class="">
                                        <%= @proyecto.mconvocatoria.nomconvocatoria %>
                                   </div>
                    </div>
                    <div class="md:flex md:items-center mb-3 w-full">
                                   <div class="font-semibold">
                                        Enlace de la convocatoria:
                                   </div>
                                   <div class="">
                                        <%= @proyecto.mconvocatoria.link %>
                                   </div>
                    </div>
</div>
