<div class='bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'>
       <% if controller.action_name == 'new' || controller.action_name == 'create' %>
              <%= form.fields_for :protocolo do |f| %>
                    <%= f.hidden_field :activo, value:true %>
                    <%= f.file_field :dprotocolo, direct_upload: true,
                                                data: { upsf_target: "input",
                                                        action: "change->upsf#uploadFile" 
                                                    } 
                    %>
              <% end %> 
       <% end %>       
      
 </div>