<div class="flex">
        <div class=" md:flex md:items-center w-6 border-2 border-solid rounded"></div>
        <div class=" w-fit md:flex md:items-center ml-2 italic text-gray-600">Proyecto con Overhead</div>
</div>
<div class="ml-5">
        <div class="flex">
                <div class=" md:flex md:items-center w-6 border-2 border-solid rounded"> </div>
                <div class=" w-fit md:flex md:items-center ml-2 italic text-gray-600">Proyecto sin Overhead</div>
        </div>
</div>    