<div class="w-full text-slate-700">
    <div class="mt-3 flex align-middle border-b-2 border-slate-200">
      <div><%= inline_svg_tag 'svg/adoc' %></div>
      <div class="ml-3">Registrar nuevo proyecto</div>
    </div>
    
    <div class="mt-5">
       <%= render "new" %>
    </div>
</div>  

