<div class="flex">
      <%  if session[:step] == 5 %>
            <div class='text-blue-600 font-semibold text-base'><%= link_to 'Atras', recurso_path(@proyecto.recurso.id) %></div>
      <% end %>
      <%  if session[:step] == 6 %>
            <div class='text-blue-600 font-semibold text-base'><%= link_to 'Atras', recurso_path(@meta.proyecto.recurso.id) %></div>
      <% end %>
</div>      