<div style="display:flex; flex-direction:column;">

    <div>Comentarios: <%= txt %></div>
    <!--
    <div style="display:flex; flex-direction:row; margin-top:15px;">
       <div style="display:flex;"><%= inline_svg_tag 'svg/comentario.svg' %></div>  
       <div style="display:flex; margin-left:5px;">Responder</div>
    </div>   
    -->
</div>