<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimada Sara Sánchez</p>
    <p>Un proyecto ha sido enviado para revisión.<br></p>
    
    <p>Nombre del proyecto: <%= @proyecto_m.nombre %>  </p>
    <p>Responsable: <%= @proyecto_m.persona.nom_espacio %>  </p>

     
  </body>

  </html>