<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Favor de atender la siguiente solicitud.</p>
    <p>Proyecto: <%= @proyecto_m.nombre %></p>
    <p>Solicitud: <%= @enlace_m.txtcoment %></p>
     

  </body>
  
  </html>