<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
   <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
        <tr>   
            <td><strong>Observaciones</strong></td>
            <td style="width:90%; text-align: left; background-color: #ffffff;">
                 <% if !@proyecto.meta.comentario.nil? %>
                        <%= @proyecto.meta.comentario %>
                 <% end %>
             </td>
       </tr>

   </table>
</div>   
<div style="width:100%; background-color: #e4e4e4; padding:5px 0;">
     <table style="width:100%; background-color: #e4e4e4; padding:5px 5px;">
        
        <% if @proyecto.modificatorio == 'SI' 
                 proy_raiz = Proyecto.find(@proyecto.raiz)
         %> 
            <tr> <td colspan="2"><strong>Fecha:</strong></td>  </tr>
            <tr>   
                <td><strong>Dictamen</strong></td>
                <td style="width:89%; text-align: left; background-color: #ffffff;">
                        <% if ! proy_raiz.dictamen.nil? %>
                                <%=  proy_raiz.dictamen.created_at.strftime('%d-%m-%Y') %>
                        <% end %>
               </td>
            </tr>
            <tr>   
                <td><strong>Modificación</strong></td>
                <td style="width:89%; text-align: left; background-color: #ffffff;">
                         <% if !@proyecto.dictamen.nil? %>
                            <%= @proyecto.dictamen.created_at.strftime('%d-%m-%Y') %>
                         <% end %>
               </td>
            </tr>

            
        <% else %>
            <tr>   
                <td><strong>Fecha Dictamen</strong></td>
                <td style="width:89%; text-align: left; background-color: #ffffff;">
                    <% if !@proyecto.dictamen.nil? %>
                            <%= @proyecto.dictamen.created_at.strftime('%d-%m-%Y') %>
                    <% end %>
                </td>
            </tr>
        <% end %>
     </table>
  </div> 
<div style="width:100%;height: 10px;  background-color: #e4e4e4; padding:5px 0;">

</div>

<!-- 
<div style="width:100%;height: 100px;  background-color: #e4e4e4; padding:5px 0;">
   <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
        <tr>   
            <td style="width:15%;">
                      <table style="width:100%; background-color: #e4e4e4; padding:5px 0;">
                           <tr>
                                <td style="width:100%; text-align: center;">Fecha</td>
                           </tr>
                      </table>
            </td>
            <td style="width:70%; text-align: center;">
                      Firmas
             </td>
       </tr>

   </table>
</div>   
-->