<table class="ficha-head">
    <tr>
          <td class="txt1">Instituto de Ecología A.C.</td>
          <td class="txt2">Ficha de Propuesta de Proyectos Externos</td>
          <td class="txt3">Número de Registro</td>
          <td class="txt4">
            <% if @proyecto.modificatorio == 'SI' 
                    sig = true
                    py_tmp = @proyecto
                    while sig do
                          if py_tmp.modificatorio == 'SI'
                               py_tmp = Proyecto.find(py_tmp.raiz)
                          else
                               sig = false
                               py_padre = py_tmp.id
                          end   
                    end
                     
                     proy_raiz = Proyecto.find(py_padre)
            %>
                     <span class="font-semibold"> <%= proy_raiz.dictamen.numregistro %> </span>
            <% else %>
                    <% if @proyecto.enlaces.last.enevento.clave == 'DICT' || @proyecto.enlaces.last.enevento.clave == 'FIR' %>             
                        <span class="font-semibold"> <%= @proyecto.dictamen.numregistro %> </span>
                    <% end %>
            <% end %>        
          </td>
    </tr>
</table>