<table style="width:100%; border-collapse: collapse;">
                                   <% i = 1 %>
                                   <% @proyecto.participante.pacademicos.order(:responsable).each do |acad| %>
                                        <% if i < @proyecto.participante.pacademicos.count(:all) %>
                                            <tr style="background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;">
                                               <td> <%= acad.academico.persona.nom_espacio  %> 
                                                         <%
                                                             if i == 1
                                                         %>

                                                                 (Responsable)
                                                         <%  
                                                             end
                                                         %>
                                               </td>
                                               <td style="width:10%; text-align: center; background-color: #FFFFFF; border-left: 1px solid #a9a9a9;"> 
                                                      <%=  
                                                        if !acad.porcentaje.nil?
                                                            if acad.porcentaje.modulo(1).round(2) > 0
                                                                    sprintf("%.1f",acad.porcentaje) 
                                                            else
                                                                    sprintf("%.0f",acad.porcentaje) 
                                                            end
                                                        else
                                                                    sprintf("%.0f", 0 ) 
                                                        end     
                                                          
                                                       %>
                                                </td>
                                            </tr>
                                        <% else %>    
                                            <tr style="background-color: #FFFFFF;">
                                               <td style=""> <%= acad.academico.persona.nom_espacio  %> 
                                                <%
                                                    if i == 1
                                                %>

                                                        (Responsable)
                                                <%  
                                                    end
                                                %>                                            
                                               </td>
                                               <td style="width:10%; text-align: center; background-color: #FFFFFF; border-left: 1px solid #a9a9a9;"> 
                                                  <%= 
                                                    if !acad.porcentaje.nil?
                                                        if acad.porcentaje.modulo(1).round(2) > 0
                                                                sprintf("%.1f",acad.porcentaje) 
                                                        else
                                                                sprintf("%.0f",acad.porcentaje) 
                                                        end
                                                    else
                                                                sprintf("%.0f", 0 ) 
                                                    end      
                                                  %>
                                               </td>
                                            </tr>
                                        <% end %>        
                                   <% i += 1 %>       
                                   <% end %>    
</table>