<table style="width:100%; border-collapse: collapse;">
                                   <% i = 1 %>
                                   <% @proyecto.participante.ptecnicos.each do |tec| %>
                                        <% if i < @proyecto.participante.ptecnicos.count(:all) %>
                                            <tr style="background-color: #FFFFFF; border-bottom: 1px solid #a9a9a9;">
                                               <td style=""> <%= tec.academico.persona.nom_espacio  %> </td>
                                               <td style="width:10%; text-align: center; background-color: #FFFFFF; border-left: 1px solid #a9a9a9;"> <%= sprintf("%.0f",tec.porcentaje)  %></td>
                                            </tr>
                                        <% else %>    
                                            <tr style="background-color: #FFFFFF;">
                                               <td style=""> <%= tec.academico.persona.nom_espacio  %> </td>
                                               <td style="width:10%; text-align: center; background-color: #FFFFFF; border-left: 1px solid #a9a9a9;"> <%= sprintf("%.0f",tec.porcentaje)  %></td>
                                            </tr>
                                        <% end %>        
                                   <% i += 1 %>       
                                   <% end %>    
</table>