<div class="flex w-full justify-center">
 
  <div class="w-3/4">
        <table class="border-collapse border border-slate-400 w-full">
              <thead>
                    <tr>
                    <th class="border border-slate-300 bg-gray-300">Capítulo</th>
                    <th class="border border-slate-300 bg-gray-300">Monto</th>
                    </tr>
              </thead>
              <tbody>
                    <% @presupuesto.solicitados.each do |s|  %>
                            <tr>
                                <td class="border border-slate-300"><%= s.capitulo.nomcapitulo %></td>
                                <td class="border border-slate-300 text-center"> <%= number_to_currency(s.monto) %></td>
                            </tr>
                            
                    <% end %>        
              </tbody>
              <tfoot>
                    <tr>  
                        <td class="text-right font-semibold">Total:</td>
                        <td class="text-center font-semibold"><%= number_to_currency(@sum_caps)%></td>
                    </tr>
              </tfoot>
        </table>
   </div>     

</div>