<link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator.min.css" rel="stylesheet">


<button type="button" data-controller="tablainter" data-action="click->tablainter#download">Descargar</button>
<div id="example-table" data-controller="tablainter"></div>
