<link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator.min.css" rel="stylesheet">


<button type="button" data-controller="tabla" data-action="click->tabla#download">Descargar</button>
<div id="table-pfin" data-controller="tabla"></div>
