<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm" >
        <thead class="text-sm text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
           <tr> 
              <th  class="p-3" >CLAVE</th>
              <th  class="p-3"><div style="width:400px;">NÚMERO DE PROYECTO</div></th>
              <th  class="p-3"><div style="width:300px;">NOMBRE</div></th>
              <th  class="p-3"><div style="width:300px;">RESPONSABLE</div></th>
              <th  class="p-3"><div style="width:200px;">INSTITUCIONES PARTICIPANTES</div></th>
              <th  class="p-3"><div style="width:200px;">FECHA INICIO</div></th>
              <th  class="p-3"><div style="width:100px;">FECHA FIN</div></th>
              <th  class="p-3"><div style="width:100px;">MONTO CONTRATADO</div></th>
           </tr>   
         </thead>
         <tbody>
         </tbody>   
    </table>
    <br><br>
</div>    