<%= turbo_frame_tag 'py_content_sub', class:'w-full' do %>
   <%= turbo_frame_tag 'py_content_secc', class:'w-full' do %>
           <div id="items_menu" class="flex mt-5 mb-1 w-3/4 justify-between" id="cont_data">
                 </div>
                    <div class="border border-gray-200 rounded-lg shadow sm:p-3 dark:bg-gray-800 dark:border-gray-700">
                        <%= render 'mensaje' %>
                    </div>
           </div>      
            
   <% end %>
<% end %>   