<div class="grid justify-items-center mb-5" data-controller="archivo">
  <div class="flex w-full"> 
        <div class="w-1/5"></div>
        <div class="w-5/12 border-2 border-gray-200">
                <div class="p-1 text-center border border-gray-200 border-b-2 border-t-0 border-l-0 border-r-0 font-bold">
                     <% if tipo == 'protocolo' %>
                              Protocolo
                     <% end %>
                     <% if tipo == 'convenio' %>
                              Convenio
                     <% end %>
                </div>
                <div class="p-2 text-left text-sm font-bold text-blue-800">
                   <span class="cursor-pointer" data-action="click->archivo#agreraCampos" data-archivo-tipo-param = '<%= tipo %>' > 
                        + Agregar otro archivo...
                   </span>
                </div>
                <div class="p-1 bg-slate-200">
                      <div id="cont_<%= tipo %>" class="md:w-full ml-3">
                           <% if tipo == 'protocolo' %>
                               <%= render 'marchivos/protocolo', form:form %>
                           <% end %>
                           <% if tipo == 'convenio' %>
                               <%= render 'marchivos/convenio', form:form %>
                           <% end %>
                      </div> 
                </div>
                
        </div>
  </div>      
</div>