<div data-controller="etapasvalpy tabseval" class="w-full">
      <div class='flex w-full justify-center mb-2 border-b-2 border-slate-200'>
            <div class="w-full">  
                            <%= render 'vistas/util/evaluador' %> 
            </div>
      </div>
         
      <div class="p-4 mb-4 font-semibold text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
           <span class="font-medium"> Información del Proyecto.</span>
      </div>   
      
      <div class='flex w-full'>
           <div class='w-1/4'>
                 <%= render 'secciones' %>
            </div>
            <div class='w-full'>
                   <%= turbo_frame_tag "py_content_secc" do %>
                            <%= render 'seccion' %>
                    <% end %>
            </div>
      </div>

</div>      
