<div data-controller="etapasvalpy" class="w-full">
      <div class='flex w-full justify-center mb-2 border-b-2 border-slate-200'>
            <div class="w-full">  
                     <%= render 'vistas/util/planeacion_resumen' %> 
            </div>
      </div>
      
    
      <div class='flex w-full'>
      
         <div class='w-1/4'>
            <%= render 'secciones' %>
         </div>
         <div class='w-full'>
            <%= turbo_frame_tag "py_content_secc" do %>
               <%= render 'seccion' %>
            <% end %>

         </div>
      </div>
     
</div>      
