<div data-controller="etapasvalpy" class="w-full">
     <div class='flex w-full justify-center mb-2 border-b-2 border-slate-200'>
            <div class="w-full">  
                            <%= render 'vistas/util/evaluador' %> 
            </div>
     </div>
    
     <%= turbo_frame_tag "py_content_sub" do %>
            <div class='flex w-full'>
                  <div class='w-full'>
                       <%= render 'proyectos/notifi_eval' %> 
                  </div>
            </div>
     <% end %>
</div>
