<div class="w-full overflow-x-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="font-semibold border-b dark:bg-gray-800 dark:border-gray-700 p-2"> Monto Autorizado</div>
      <div class="flex justify-center">
          <table class="border-collapse mt-5 w-3/5">
             <tbody>
                    <tr>
                       <td class="border-b border-slate-300 p-2 text-right w-2/4 font-semibold">Fecha de Inicio:</td>
                       <td class="border-b border-slate-300 text-left ml-3"><%= @mtoautorizado.finicio.strftime("%d-%m-%Y") %></td>
                    </tr>
                    <tr>
                       <td class="border-b border-slate-300 p-2 text-right w-2/4 font-semibold">Fecha de Termino:</td>
                       <td class="border-b border-slate-300 text-left ml-3"><%= @mtoautorizado.ftermino.strftime("%d-%m-%Y") %></td>
                    </tr>
                    <tr>
                       <td class="border-b border-slate-300 p-2 text-right w-2/4 font-semibold">Monto Autorizado:</td>
                       <td class="border-b border-slate-300 text-left ml-3 font-semibold"><%= number_to_currency(@mtoautorizado.monto) %></td>
                    </tr>
                    <tr> 
                       <td colspan="2" class="text-right py-5">
                            <%= link_to 'Editar', [:edit, @proyecto, @mtoautorizado],
                                        class:'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800'
                            %>
                       </td>
                    </tr>
             </tbody>
          </table>
      </div>       
</div>       