 <%= turbo_frame_tag "monto_autorizado" do  %>
    <table class="w-full">
        <tr class="bg-blue-400">
            <td colspan="2" class="font-semibold p-1 border-b border-slate-300" style='width:300px;'>
                    <div class="grid grid-cols-5 gap-5">
                        <div class="col-start-2 col-span-3 grid justify-items-center text-white">Monto Autorizado</div>
                        <div class="grid justify-items-end font-medium">
                             <% if @proyecto.mtoautorizado.nil? %>  
                                   <span class=' cursor-pointer text-white' data-turbo-action="replace" data-action='click->mautorizado#agregar' data-mautorizado-idpy-param="<%= @proyecto.id %>">+ Agregar...</span>
                             <% else %>
                                   <span></span>
                             <% end %>
                        </div>
                    </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2" class="font-semibold p-2 text-center border-b border-slate-300" style='width:300px;'>  
                
                            <% if !@proyecto.mtoautorizado.nil? %> 
                                    <%= turbo_frame_tag "preview_monto_autorizado", src:preview_proyecto_mtoautorizado_path(@proyecto, @proyecto.mtoautorizado) do %>
                                    <% end %> 
                            <% else %>          
                                    <span class="italic">Sin asignar</span>
                            <% end %>
                
            </td>     
        </tr>
     </table>
 <% end %>
 <br><br>