<%= turbo_frame_tag 'py_content_sub', class:'w-full' do %>
     <%= turbo_frame_tag 'py_content_secc', class:'w-full' do %>
        <div class="mt-5">
            <%= render 'new' %>
        </div>
     <% end %>
<% end %>