<%= turbo_frame_tag 'pycontent', class:'w-full' do %>
     <div class="w-full text-slate-700">
      <div class="mt-3 flex align-middle border-b-2 border-slate-200 ">
          <div class="flex w-1/3">
            <div><%= inline_svg_tag 'svg/adoc' %></div>

            <% if params[:tipo] == 'CORR' %>  
               <div class="ml-1">Solictar cambios</div>
            <% end %> 
            <% if params[:tipo] == 'EVAL' %>  
               <div class="ml-1">Abrir proyecto a evaluadores</div>
            <% end %> 
          </div>
      </div>
      
      <div class="mt-5">
          <%= render 'new' %>
      </div>
    </div>            
<% end %>