<div class="flex mt-5 ">
   <div class="flex" data-action='click->etapasvalpy#mensaje' data-etapasvalpy-proyecto-param = "<%= @proyecto.id %>" >
         <div><%= inline_svg_tag 'svg/mover' %></div> <div class="ml-2 text-gray-700">Enviar proyecto</div>
   </div>
</div>