 <div class="text-blue-700 flex">
                <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white">
                      <span class="flex w-2.5 h-2.5 bg-green-600 rounded-full mr-1.5 flex-shrink-0"></span>
                        <% if !proyecto.dictamen.nil? %>

                                 <%= link_to dictamen_path(proyecto.dictamen), data:{turbo_frame:'py_content'}, class:"block px-1 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
                                          <div class="flex w-full ml-1">
                                                <span class="text-sm text-blue-800 ml-1">
                                                   <% if proyecto.modificatorio != 'SI' %>
                                                            Dictamen
                                                   <% else %>
                                                            Dictamen-Modif.
                                                   <% end %>
                                                       
                                                </span>
                                          </div>
                                <% end %>  


                        <% else %>      
                              <span class="italic " style="font-size: 13px;">En evaluación </span>
                        <% end %>
                </span>
 </div>