 <div class="text-blue-700 flex">
     <%  if proyecto.enlaces.any? %>
                <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white">
                        <% if proyecto.enlaces.last.enevento.clave == 'DICT' %>
                                <span class="flex w-2.5 h-2.5 bg-green-600 rounded-full mr-1.5 flex-shrink-0"></span>
                        <% elsif proyecto.enlaces.last.enevento.clave == 'FIR' %>
                                <span class="flex w-2.5 h-2.5 bg-blue-800 rounded-full mr-1.5 flex-shrink-0"></span>
                         <% elsif proyecto.enlaces.last.enevento.clave == 'EVAL' %>        
                                <span class="flex w-2.5 h-2.5 bg-pink-800 rounded-full mr-1.5 flex-shrink-0"></span>
                        <% else %>
                                <span class="flex w-2.5 h-2.5 bg-orange-600 rounded-full mr-1.5 flex-shrink-0"></span>
                        <% end %>   
                        <%= proyecto.enlaces.last.enevento.nomenevento %>
                </span>
     <% else %>
             <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white">
             <span class="flex w-2.5 h-2.5 bg-teal-500 rounded-full mr-1.5 flex-shrink-0"></span>Nuevo</span>
     <% end %>
 </div>