<%
  color = '' 
  if proyecto.etapas.last.tevento.clave == 'CAP'
      color = 'bg-blue-600'
  end
  if proyecto.etapas.last.tevento.clave == 'REV'
      color = 'bg-green-600'
  end
  if proyecto.etapas.last.tevento.clave == 'ACEP'
      color = 'bg-green-600'
  end
  if proyecto.etapas.last.tevento.clave == 'RECH'
      color = 'bg-red-600'
  end

%>
 <div class="flex">
          <div class="flex items-center text-sm">
             <span class="w-2.5 h-2.5 <%= color %> rounded-full mr-1.5 flex-shrink-0"></span>
          </div>  
          <div class="flex items-center text-sm">
             <%= proyecto.etapas.last.tevento.nomtevento %>
          </div>
</div>