<div>
  <h1 class="font-bold text-4xl">Fuentes#show</h1>
  <p>Find me in app/views/fuentes/show.html.erb</p>
</div>

<%= Nav::wizard_next(controller.controller_name, session[:proyecto_id]).html_safe %>
<%= Nav::wizard_back %>
