/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import '@kanety/stimulus-contextmenu';

 
 .field_with_errors {
     color: #b22;
     width:100%;
     border: 1px solid #fcc;
 }

 .field_with_errors input {
     background-color: #fcc;
 }
 .field_with_errors select {
    border: 1px solid #fcc;

 }

 centered-div {
    display: block;
    text-align: center;
  }

  #context-menu {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
    color: #1f194c;
    width: 15.5em;
    padding: 0.8em 0.6em;
    font-size: 12px;
    position: fixed;
    visibility: hidden;
    z-index: 100;
}

.item {
 padding: 0.3em 1.2em;
}

.item:hover {
 background-color: rgba(44, 141, 247, 0.2);
 cursor: pointer;
}

.resizer {
   width: 3px;
   top: 0;
   right: 0;
   cursor: col-resize;
   height: 100%;
   position: absolute;
   background-color: #ebebeb;
}
.sidebarz {
    width: 333px;
    overflow-x: hidden;
    position: relative;
 }

 .moving {
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
