<div class="flex p-1 mt-2">
      <div>Tecnicos</div>  
</div>
<div class="">
      <template data-nested-form-tec-target="template" >
          <%= form.fields_for :pacademicos, Pacademico.new, child_index:'NEW_RECORD' do |pacad_fields|%>
               <%= render 'participantes/part_tec_form', f: pacad_fields %>
          <% end %>
      </template>

      <%= form.fields_for :pacademicos do |pacad_fields|%>
              <%= render 'participantes/part_tec_form', f: pacad_fields %>
      <% end %>

      <div data-nested-form-tec-target="target"></div>
      
      <button type="button" data-action="nested-form-tec#add">Add</button>
</div>