<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Nombre del Técnico
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Porcentaje
                </th>
            </tr>
        </thead>
        <tbody>

            <% @tec.each do |part_tec| %>
                     <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  <%= part_tec.academico.persona.ap_nom %>
                            </th>
                            <td class="px-6 py-4 text-center">
                                  <%= part_tec.porcentaje %>
                            </td>
                        </tr>
            <% end %>
       </tbody>
       <tfoot>
        <tr>
            <td class="text-right px-2 py-2 font-medium text-gray-900 whitespace-nowrap">Total</td>
            <td class="text-center px-2 py-2 font-medium text-gray-900 whitespace-nowrap"><%= @tec_sum %></td>
        </tr>
        </tfoot>

    </table>   
</div>  