<div class="flex w-full justify-center mt-5">
 
  <div class="w-full">
         <div class="flex w-full font-semibold">Técnicos</div>
        <table class="border-collapse border border-slate-400 w-full">
        <thead>
            <tr>
            <th class="border border-slate-300 bg-gray-300">Nombre</th>
            <th class="border border-slate-300 bg-gray-300">Categoria</th>
            <th class="border border-slate-300 bg-gray-300">Responsable</th>
            <th class="border border-slate-300 bg-gray-300">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
                <% if @tec.any? %>  
                        <% @tec.each do |part_tec| %>
                            <tr>
                                <td class="border border-slate-300"><%= part_tec.academico.persona.nom_espacio %></td>
                                <td class="border border-slate-300 text-center"><%= part_tec.academico.tacademico.nomtacademico %></td>
                                <td class="border border-slate-300 text-center">
                                </td>
                                <td class="border border-slate-300 text-center">
                                                                           
                                      <%= 
                                      
                                           if !part_tec.porcentaje.nil?
                                                if part_tec.porcentaje.modulo(1).round(2) > 0
                                                        sprintf("%.1f",part_tec.porcentaje) 
                                                else
                                                        sprintf("%.0f",part_tec.porcentaje) 
                                                end
                                                else
                                                        sprintf("%.0f", 0 ) 
                                           end        
                                     
                                      %> 
                                      
                                      <span>%</span> 
                                </td>
                            </tr>
                        <% end %>
                <% else %>
                            <tr>
                                <td class="border border-slate-300 text-gray-600 italic">No se incluyeron Técnicos </td>
                                <td class="border border-slate-300 text-center"></td>
                                <td class="border border-slate-300 text-center">
                                            <div class="flex justify-center"></div>
                                </td>
                                <td class="border border-slate-300 text-center"></td>
                            </tr>
                <% end %>        
        </tbody>
        <tfoot>
              <tr>  
                   <td colspan="3" class="text-right font-semibold">Total:</td>
                   <td class="text-center font-semibold"><%= sprintf("%.0f", @tec.sum(:porcentaje)) %> <span>%</span> </td>
              </tr>
        </tfoot>
        </table>
   </div>     
</div>