<div class='w-full'>
  <div class="w-full text-slate-700">
      <div class="mt-3 flex align-middle border-b-2 border-slate-200">
        <div><%= inline_svg_tag 'svg/usuarios' %></div>
        <div class="ml-3">Editar Participantes</div>
      </div>
      
      <div class="mt-5 flex justify-center">
        <%= render "new_mod" %>
      </div>
  </div>  
  
  <div>
      <%= render 'nav' %>
  </div>
  
</div>