<div class="flex w-full justify-center mt-5">
    <div class="w-full">
            <table class="">
                <tr>
                        <td class="border  p-1 text-right font-semibold" style="width:600px; " >Total:</td>
                        <td class="border  text-center p-1 font-semibold" style="width:300px;"><%= number_to_currency(@tot_ffis.to_f + @tot_aes.to_f + @tot_fcon.to_f, :unit=>@moneda.currency + ' $ ')  %></td>
                </tr>
                
            </table>
    </div>
</div>    