<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400" id="tabExample" role="tablist">
                        <li class="mr-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 
                                        hover:border-gray-300 dark:hover:text-gray-300" 
                                    id="profile-tab-example" 
                                    type="button" 
                                    role="tab" 
                                    aria-controls="profile-example" 
                                    aria-selected="false">Fondos Fiscales</button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 
                                        hover:border-gray-300 dark:hover:text-gray-300" 
                                    id="dashboard-tab-example" 
                                    type="button" 
                                    role="tab" 
                                    aria-controls="dashboard-example" 
                                    aria-selected="false">Fondos en Especie</button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 
                                        hover:border-gray-300 dark:hover:text-gray-300" 
                                    id="settings-tab-example" 
                                    type="button" 
                                    role="tab" 
                                    aria-controls="settings-example" 
                                    aria-selected="false">Fondos Concurrentes</button>
                        </li>
                    </ul>
</div>